<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898987208223-6m9vgptss6miql1o6qj0bh2cslrkr5m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898987208223-6m9vgptss6miql1o6qj0bh2cslrkr5m0</string>
	<key>API_KEY</key>
	<string>AIzaSyCLzYtHsD_OCE-v-1YxkYfn5ap4yiphD54</string>
	<key>GCM_SENDER_ID</key>
	<string>898987208223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundryApp</string>
	<key>PROJECT_ID</key>
	<string>laundry-app-b5624</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-app-b5624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898987208223:ios:83c5134696eb8016526f2a</string>
</dict>
</plist>